#about {
    margin-top:250px;
}

.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
    padding-bottom: 200px;
}

.about-image img {
    height:400px;
    width: 400px;
    border-radius: 10px;
    margin-left:140px;
}

.about-text {
    max-width: 500px;
    margin-right: 150px;
}
.about-text p {
    text-align: justify;
}
.about-heading {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}

.about-heading span {
    color: white; /* "About" */
}

.about-heading .me-text {
    color: #FFA500; /* "Me" */
}

.resume-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #FF7F00, #FFFFFF);
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease-in-out, transform 0.2s;
}
.resume-btn:hover {
    background: linear-gradient(135deg, #008080, #FFFFFF);
    transform: scale(1.05);
}
.about-text:hover.resume-btn:hover + h2 .me-text {
    color: #008080; /* Teal */
    transition: color 0.3s ease-in-out;
}